.navbar {
    background-color: #ffd200;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #000000;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    /*border-radius: .25rem;*/
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-item .nav-link.active,
/*.navbar .navbar-nav .nav-item.active .nav-link:hover,*/
/*.navbar .navbar-nav .nav-item.active .nav-link:focus,*/
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #ffd200;
    border-bottom: 2px solid #000000;
}
.navbar .navbar-toggle {
    border-color: #ffd200;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffd200;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #000000;
}
