.form-control:focus {
    border-color: #ffd200;
    box-shadow: inset 0 0 0 #ffd200, 0 0 8px #ffd200;
}

.btn {
    color: #ffd200;
    background: #ffffff;
    border-color: #ffd200;
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #ffd200 !important;
    border-color: #ffd200 !important;
}

.centeredForm {
    width: 60%;
}

.enterUUID {
    width: 50%;
}
